ol {
    padding-left: 1.2em;
    margin: 0em;
}

.name {
    font-weight: bold;
}

.topic[id] {
    margin-top: -2.5em;
    padding-top: 4em;
}

@media screen and (max-width: 30.01em) {
    .topic[id] {
        margin-top: -2.5em;
        padding-top: 4em;
    }
}

.information {
    font-style: italic;
}

.comment-continuation {
    margin-left: 1.5em;
}

.proposal, .resolution, .action {
    margin: 1em 0;
    padding: 1em;
}

.proposal {
    background: #ddd;
 }

.resolution {
    background: #4eb14e;
    color: #fff;
}

.action {
    background: #fbbc0e;
}
