* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: #f8f9fb;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    /*color: #7f8c8d;*/
    color: #000;
    font-size: 13px;
    margin-top: 92px;
}

@media screen and (min-width: 30.01em) and (max-width: 48em) {
    body {
        margin-top: 55px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: Exo, sans-serif;
    color: #383838;
}

[id] {
    padding-top: 7em;
    margin-top: -7em;
}

@media screen and (min-width: 30.5em) and (max-width: 48em) {
    [id] {
        padding-top: 4em;
        margin-top: -4em;
    }
}


/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
}

.home-menu img {
    width: 100%;
}

.home-menu .pure-menu-heading {
    max-width: 100px;
    padding: 5px 10px;
}

@media screen and (min-width: 48em) {
    .home-menu .pure-menu-heading {
        max-width: 222px;
        padding: 5px 20px;
    }
}

.home-menu.pure-menu-open {
    background: #383838;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu ul {
    margin-top: 4px;
    font-family: Exo, sans-serif;
}

@media screen and (min-width: 48em) {
    .home-menu ul {
        margin-top: 18px;
    }
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a,
.home-menu a:visited {
    color: #fff;
}

.home-menu li a {
    border-bottom: 3px solid transparent;
}

.home-menu li a:hover,
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border-bottom-color: #fff;
    color: #fff;
}

.pure-menu li a {
    padding: 5px 0;
    margin: 0 4px;
}

@media screen and (min-width: 24em) {
    .pure-menu li a {
        margin: 0 10px;
    }
}

@media screen and (min-width: 48em) {
    .pure-menu li a {
        margin: 0 20px;
    }
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: #f9ac14 url('../img/banner.svg') center;
    background-size: cover;
    z-index: 1;
    width: 100%;
    text-align: center;
    border-bottom: 10px solid #383838;
}

@media (max-width: 21em) {
    .splash-container {
        border-top: 35px solid #383838;
    }
}

.splash-head {
    font-size: 20px;
    padding: 1.5em 1.6em 1em;
    font-weight: 400;
    line-height: 1.5em;
    text-indent: -0.6em;
    margin-left: 0.6em
}


/*
 * -- CONTENT STYLES --
 */

.content {
    margin: 0 auto;
    max-width: 960px;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 1em 0 1em;
    line-height: 1.4em;
}

.content-head[id] {
    padding-top: 7em;
    margin-top: -6em;
}

@media screen and (min-width: 30.5em) and (max-width: 48em) {
    .content-head[id] {
        padding-top: 5em;
        margin-top: -4em;
    }
}


/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the footer */
.footer {
    background: #383838;
    color: #aaa;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}
