# Setup media types
AddType application/ld+json .jsonld
AddType application/json .json
AddType text/turtle .ttl


# Redirect all traffic to www-subdomain
<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP_HOST} ^hydra-cg\.com
  RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=permanent,L]

  RewriteCond %{REQUEST_FILENAME} !/lib/render-markdown\.php
  RewriteRule ^(.+\.md)$ /lib/render-markdown.php/$1 [L]
</IfModule>


# More redirections
Redirect 302 /core /spec/latest/core
RedirectMatch "^/spec/?$" "/spec/latest/core"
RedirectMatch "^/spec/latest/?$" "/spec/latest/core"
Redirect 302 /wiki https://www.w3.org/community/hydra/wiki
Redirect 302 /linked-data-fragments http://linkeddatafragments.org


# Enable CORS
Header always set Access-Control-Allow-Origin "*"
